#background-header{

  height: 20vh;
  background-color: rgb(107 191 167);
}
#backgroungd-body {

  height : 80vh;
  background-color: #d9dbd5;
}

#chat{
  position : fixed;

  top : 0%;
  bottom : 0%;
  margin : auto;
  right: 0px;
  left: 0px;
  width: 90%;
  height: 95%;
  background-color: rgb(255, 255, 255);
}
